.container
  .brands.text-center
    %h3 Our Brands
    .row
      .col-md-3
        =image_tag "http://placekitten.com/400/300", :class => "img-responsive center-block gray-img"
      .col-md-3
        =image_tag "http://placekitten.com/400/300", :class => "img-responsive center-block gray-img"
      .col-md-3
        =image_tag "http://placekitten.com/400/300", :class => "img-responsive center-block gray-img"
      .col-md-3
        =image_tag "http://placekitten.com/400/300", :class => "img-responsive center-block gray-img"