.container
  .brands.text-center
    %h3 Careers At Xaxis Family Brands
    .row
      .col-md-3.col-sm-6
        =link_to 'http://lightreaction.com/en/careers/' do
          =image_tag "//placekitten.com/400/300", :class => "img-responsive center-block gray-img"
      .col-md-3.col-sm-6
        =link_to 'http://www.plista.com/de/career' do
          =image_tag "//placekitten.com/400/300", :class => "img-responsive center-block gray-img"
      .col-md-3.col-sm-6
        =link_to 'http://www.actionx.com/index.html#jobs' do
          =image_tag "//placekitten.com/400/300", :class => "img-responsive center-block gray-img"
      .col-md-3.col-sm-6
        =link_to 'http://www.bannerconnect.net/careers/' do
          =image_tag "//placekitten.com/400/300", :class => "img-responsive center-block gray-img"
