%footer
  .base-footer.text-center
    %p
      Connect with us
    %p
      %a.btn.btn-primary.btn-social{href: '#'}
        %i.fa.fa-linkedin
      %a.btn.btn-primary.btn-social{href: '#'}
        %i.fa.fa-facebook
      %a.btn.btn-primary.btn-social{href: '#'}
        %i.fa.fa-youtube
      %a.btn.btn-primary.btn-social{href: '#'}
        %i.fa.fa-twitter
      %a.btn.btn-primary.btn-social{href: '#'}
        %i.fa.fa-instagram
      %a.btn.btn-primary.btn-social{href: '#'}
        %i.fa.fa-glassdoor
