%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to careers_jobs_path, class: "nav navbar-brand" do
        =image_tag asset_path('Xaxis_Logo_Pos_Horiz.png')
    #navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'Culture', careers_culture_path
        %li.dropdown
          =link_to "Locations", careers_jobs_locations_path
          %ul.dropdown-menu
            -JobListing.pluck(:location_city).uniq!.sort!.each do |location|
              %li.job-category.col-sm-4.text-center
                =link_to location, careers_jobs_location_path(location.parameterize)
        %li.dropdown
          =link_to "Departments", careers_jobs_departments_path
          %ul.dropdown-menu
            -JobListing.pluck(:department).uniq!.sort!.each do |department|
              %li.job-category.col-sm-4.text-center
                =link_to department, careers_jobs_department_path(department.parameterize)
        %li
          =link_to 'Benefits', careers_benefits_path
        %li
          =link_to 'Mobility', careers_mobility_path
        %li
          =link_to '#' do
            %span.glyphicon.glyphicon-search
