%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to root_path, class: "nav navbar-brand" do
        =image_tag asset_path('Xaxis_Logo_Pos_Vert.png')
    #navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to root_path(:anchor => 'culture') do
            CULTURE
        %li.dropdown
          =link_to locations_path do
            LOCATIONS
            %span.caret.hidden-sm.hidden-xs
          %ul.dropdown-menu.hidden-sm.hidden-xs
            .container
              -Location.all.order(:name).each do |location|
                %li.job-category.col-sm-4.text-center.hidden-xs
                  =link_to location.name.upcase, location_path(location.slug)
        %li.dropdown
          =link_to departments_path  do
            DEPARTMENTS
            %span.caret.hidden-sm.hidden-xs
          %ul.dropdown-menu.hidden-sm.hidden-xs
            .container
              -Department.all.order(:name).each do |department|
                %li.job-category.col-sm-4.text-center
                  =link_to department.name.upcase, department_path(department.slug)
        %li
          =link_to 'BENEFITS', benefits_path
        %li
          =link_to 'MOBILITY', mobility_path
        %li
          =link_to '###', id: 'search-button' do
            %span.glyphicon.glyphicon-search
        -if current_admin_user
          %li
            =link_to 'Admin', admin_dashboard_path
