%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to root_path, class: "nav-image navbar-left" do
        =image_tag asset_path('Xaxis_Logo_Pos_Vert.png')
    #navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          -if current_page?('/')
            =link_to 'WORKING AT XAXIS', '#culture', class: 'js-smooth-scroll current-page'
          -else
            = link_to root_path do
              WORKING AT XAXIS
        %li.dropdown
          =link_to locations_path, class: (controller_name == 'locations' ? 'current-page' : '') do
            LOCATIONS
            %span.caret.hidden-sm.hidden-xs
          %ul.dropdown-menu.hidden-sm.hidden-xs
            .container.col-sm-12
              -@regions.each do |region|
                .col-sm-3.dropdown-container
                  =link_to region_path(region.slug), class: 'job-category text-center hidden-xs' do
                    %li.main-listing-name
                      =region.name.upcase
                  %ul.city-container
                    -region.main_cities.each do |location|
                      =link_to location_path(location.slug), class: 'col-sm-12 text-center' do
                        %li.city-name= location.name.upcase
        %li.dropdown
          =link_to departments_path, class: (controller_name == 'departments' ? 'current-page' : '')  do
            DEPARTMENTS
            %span.caret.hidden-sm.hidden-xs
          %ul.dropdown-menu.hidden-sm.hidden-xs
            .container
              -@departments.each do |department|
                .col-sm-4.dropdown-container
                  =link_to department_path(department.slug), class: 'job-category  text-center hidden-xs' do
                    %li.main-listing-name
                      =department.name.upcase
      %ul.nav.navbar-nav.navbar-right
        %li.hidden-sm
          =link_to "SEE ALL OPENINGS", jobs_path
        %li.hidden-sm.hidden-xs
          =link_to '###', id: 'search-button' do
            %span.glyphicon.glyphicon-search
        -if current_admin_user
          %li
            =link_to 'Admin', admin_dashboard_path
