.container.photoblock
  .flex-container
    .flex-item.single-column
      = image_tag "https://unsplash.it/350/600/?random", class: "restrict-img vertical-img"
    .flex-item.single-column
      .text-block.tb-top
        %h3 Lorem ipsum dolor sit amet
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      = image_tag "http://placekitten.com/350/300", class: "restrict-img"
    .flex-item.single-column
      = image_tag "https://unsplash.it/350/300/?random", class: "restrict-img"
      .text-block.tb-top
        %h3 Lorem ipsum dolor sit amet
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  .flex-container
    .flex-item.single-column
      .text-block-light.tb-bottom
        %h3 Lorem ipsum dolor sit amet
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      .text-block.tb-bottom
        %h3 Lorem ipsum dolor sit amet
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    .flex-item-2.single-column
      = image_tag "https://unsplash.it/760/650/?random", class: "restrict-img wide-img"
