#search-container
  = form_tag search_results_path, id: 'searchForm', method: 'get' do
    = label_tag "nil", '', class: "fa fa-2x fa-search hidden-xs"
    = text_field_tag :q, params[:q], class: 'search-input', placeholder: "Search Available Jobs", type: "text", name: "q", autofocus: true
