-if params[:location] || params[:department]
  .jumbotron
    =image_tag asset_path('hero-image.png')
    .overlay-text
      %h2.text-center
        =Department.find_by_slug(params[:department]).name if params[:department]
        =Location.find_by_slug(params[:department]).name if params[:location]
-else
  .jumbotron
    =image_tag asset_path('hero-image.png')
    -if action_name == 'show'
      .overlay-text
        %h2.text-center
          =subtitle
