.container
  .selector
  .row
    - JobListing.pluck(:department).uniq.sort!.each do |department|
      .col-sm-4.text-center.selector-box
        = link_to jobs_department_path(department.parameterize) do
          = department
          %br/
          = JobListing.where(department: department).count
          openings
