-if params[:location] || params[:department]
  .jumbotron
    =image_tag asset_path('hero-image.png')
    .overlay-text
      %h2.text-center
        =JobviteResponse.get_department_name_from_slug(params[:department]) if params[:department]
        =JobviteResponse.get_location_name_from_slug(params[:location]) if params[:location]


= render partial: 'regions' unless params[:location]

= render partial: 'job_list'

= render partial: 'departments'
