= render partial: 'partials/jumbotron', locals: {subtitle: @subtitle}
= render partial: 'regions/index' unless params[:location] || params[:department]
= render partial: 'jobvite_response/job_list', locals: {jobs: @jobs}
   
