.container
  .col-md-offset-2.col-md-8
    .jobs-list
      -unless action_name == 'show'
        %p.intro-paragraph
          To be a part of the digital frontier, join the Xaxis team. With 53 offices globally, we're always looking for genius. No matter if your specific genius lies in tech, HR or creative, apply below - and watch your digital career unfold.
      -if jobs.count > 0
        %dl.dl-horizontal
          -if jobs.pluck(:department).length > 1 && !jobs.pluck(:department).uniq.nil?
            -department_array = jobs.pluck(:department).uniq.sort
          -else
            -department_array = jobs.pluck(:department)
          -department_array.each do |department|
            %h2.text-center= department unless controller_name == 'department'
            -jobs.where(department: department).each do |job|
              -if action_name == 'show' && job == @job
                -next
              -else
                %dt.job-title
                  =link_to job_path(job.e_id) do
                    =job.title
                    -if job.subsidiary_name != "Xaxis"
                      |
                      =job.subsidiary_name
                %dd.text-right
                  ="#{job.location_city}, #{job.location_country}"
      -else
        %p
          -criteria = controller_name
          There are no open positions for this #{criteria.singularize} currently, however send us your resume! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
