.container
  %h1 culture
  %a{href:'https://www.xaxis.com/press/view/xaxis-named-as-one-of-uks-best-workplaces'}Xaxis Press Release
  %p
    LONDON (May 14, 2015) - Xaxis, the world’s largest programmatic media and technology platform, has been named as one of the UK’s Best Workplaces by Great Place to Work® in its prestigious annual list.
  %p
    Xaxis achieved the distinction in its very first year of participating in the Best Workplaces Programme and is listed in the Medium category (organisations with 50 – 499 employees). The methodology behind the list is one of the most rigorous available and comprises both an employee survey and an audit into an organisation’s management and HR practices. Success for Xaxis reflects its high score in an employee survey measuring the levels of trust and engagement within the organisation. The award also recognises the strength of Xaxis’ leadership and the range of innovative, creative and effective HR policies that shape its workplace culture.
  %p
    “We are excited to receive the recognition that comes with being a part of the Best Workplaces Programme,” said Nicolas Bidon, Managing Director, Xaxis UK.  “We have tremendous pride in what we do and want to continue to attract and retain the best in the industry. Participating in the Best Workplaces Programme is a strong platform for us to continue to develop our employer brand.
  %p
    “Xaxis is a leader in programmatic advertising – a fast developing field at the convergence of data science and advertising. While technology is transforming the media industry, it will always remain a people business. And despite our market leadership, hiring people is still one of our biggest challenges as we are competing not only with others employers in advertising but also industries such as finance that are also seeing a growing demand for the best data scientists.”
