.body-section-padding-small
  .container
    .departments-area
      .row
        -@departments.all.each do |department|
          .text-center.department.col-sm-4
            =link_to department_path(department.slug) do
              %h2=department.name.upcase
            %hr
            = department.job_count
            Openings
