.regions
  .row
    -JobsJson.get_regions.each do |region|
      .text-center.region.col-sm-3
        =link_to region[:link] do
          %h2=region[:display].html_safe
        %hr
        = JobsJson.get_openings_by_region(region).count
        Openings
