-if current_page?('/careers')
  .jumbotron
    =image_tag asset_path('hero-image.png')
    params[:location]
-elsif params[:location] || params[:department]
  .jumbotron
    =image_tag asset_path('hero-image.png')
    .overlay-text
      %h2.text-center
        =JobsJson.get_department_name_from_slug(params[:department]) if params[:department]
        =JobsJson.get_location_name_from_slug(params[:location]) if params[:location]


.container
  .categories
    -JobsJson.get_current_departments.sort_by!{|x| x[:name]}.each do |department|
      .job-category.col-sm-4.text-center
        =link_to department[:name], jobs_department_path(department[:slug])
        %p
          =@jobs.where(department: department[:name]).count
          openings

  %ul
    -@jobs.each do |job|
      %li
        =job.subsidiaryName
        |
        =job.title
        |
        =link_to 'read more', job_path(job.eId)
        |
        =link_to 'apply', job.applyLink
