-if params[:location] || params[:department]
  .jumbotron
    =image_tag asset_path('hero-image.png')
    .overlay-text
      %h2.text-center
        =JobsJson.get_department_name_from_slug(params[:department]) if params[:department]
        =JobsJson.get_location_name_from_slug(params[:location]) if params[:location]


.regions
  .row.col-md-offset-2
    -JobsJson.get_regions.each do |region|
      .text-center.region{class: region[:class]}
        =link_to region[:slug] do
          %h2=region[:display].html_safe
        %hr
        = JobsJson.get_openings_by_region(region).count
        Openings

.container
  .jobs-list
    %ul
      -@jobs.each do |job|
        %li
          =job.subsidiaryName
          |
          =job.title
          |
          =link_to 'read more', job_path(job.eId)
          |
          =link_to 'apply', job.applyLink
  .categories
    -JobsJson.get_current_departments.sort_by!{|x| x[:name]}.each do |department|
      .job-category.col-sm-4.text-center
        =link_to department[:name], jobs_department_path(department[:slug])
        %p
          =@jobs.where(department: department[:name]).count
          openings
