Email from
= @contact.name
|
= @contact.email

================================
================================

They are interested in:
= @contact.message

================================
================================

Be sure to get back to them!
