@import "bootstrap-sprockets"
@import "vars"
@import "bootstrap"

@font-face
  font-family: 'Gotham-Book'
  src: asset_url('Gotham-Book.otf')
  font-weight: normal
@font-face
  font-family: 'Gotham-Bold'
  src: asset_url('Gotham-Bold.otf')
  font-weight: normal
@font-face
  font-family: 'Gotham-Black'
  src: asset_url('Gotham-Black.otf')
  font-weight: normal
@font-face
  font-family: 'Gotham-BlackItalic'
  src: asset_url('Gotham-BlackItalic.otf')
  font-weight: normal
// @font-face
//   font-family: 'Gotham-Bold'
//   src: asset_url('Gotham-Bold.otf')
//   font-weight: normal
// @font-face
//   font-family: 'Gotham-Bold'
//   src: asset_url('Gotham-Bold.otf')
//   font-weight: normal
// @font-face
//   font-family: 'Gotham-Bold'
//   src: asset_url('Gotham-Bold.otf')
//   font-weight: normal
// @font-face
//   font-family: 'Gotham-Bold'
//   src: asset_url('Gotham-Bold.otf')
//   font-weight: normal

*
  font-family: 'Gotham'
  color: $primary-color
@import "global"
@import "navbar"
@import "careers"
@import "section_boxes"
