@import "vars"
.jumbotron
  padding: 0 !important
  position: relative
  margin-bottom: 80px
  img
    width: 100%
    max-height: 80vh !important
    position: relative
    z-index: 9
  .overlay-text
    position: absolute
    bottom: 0
    color: white
    z-index: 10
    width: 100%
.regions
  margin-bottom: 80px
  a
    color: $xaxis-blue-color
    &:hover
      text-decoration: none
  .region
    h2
      color: $primary-color
      &:hover
        color: $xaxis-blue-color
    hr
      width: 80%
      border-top: 2px solid #eee

.jobs-list
  margin-bottom: 80px
  p
    color: lighten($primary-color,20)
  .dl-horizontal
    font-size: 1.4em
    dt
      text-align: left !important
      width: auto
      a
        color: lighten($primary-color,20)
      &:hover
        a
          color: $xaxis-blue-color
          text-decoration: none
    dd
      color: lighten($primary-color,20)
