@import "vars"
.jumbotron
  padding: 0 !important
  position: relative
  margin-bottom: 80px
  img
    width: 100%
    max-height: 80vh !important
    position: relative
    z-index: 9
  .overlay-text
    position: absolute
    bottom: 0
    color: white
    z-index: 10
    width: 100%
.regions
  margin-bottom: 80px
  a
    color: $xaxis-blue-color
    &:hover
      text-decoration: none
  .region
.jobs-list
  margin-bottom: 80px
