.photoblock
  padding-top: 2vh
  padding-bottom: 2vh
  .flex-container
    display: -webkit-box
    display: -moz-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    flex-flow: row
    justify-content: space-between

  .flex-item
    width: 33.33333333%

  .flex-item-2
    width: 66.66666666%

  .text-block, .text-block-light
    display: -webkit-box
    display: -moz-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    flex-flow: column
    align-items: flex-start
    justify-content: center
    padding: 4%
    height: 50%
    width: 100%
    h3
      font-size: 1.5em
    p
      font-size: 0.8em

  .text-block
    background-color: #F0F1F2

@media (max-width: 675px)
  .photoblock
    .flex-container
      flex-flow: column
    .flex-item, .flex-item-2
      width: 100%
      height: auto
      .restrict-img
        width: 100%
        height: auto
        vertical-align: bottom

@media (max-width: 500px)
  .photoblock
    .flex-item, .flex-item-2
      .restrict-img
        width: 100%
        height: auto
        vertical-align: bottom
