@import "vars"
html
  position: relative
  min-height: 100%

body
  margin-bottom: 450px
  background-color: $white
  margin-top: 65px

.container-fluid
  width: 100%
  padding: 0
  margin: 0
  overflow: hidden

.content-wrapper
  margin-top: 65px
  margin: 0
  padding: 0

/* SEARCH BAR ELEMENTS */

#search-container
  display: none
  width: 100%
  #searchForm
    width: 80%
    margin-left: 13%
    position: fixed
    z-index: 1000
    label
      float:right
      margin-left: 5px
    input.search-input
      width: 90%
      height: 6vh
      background-color: rgba(199, 200, 202, .8)
      border-top: 0
      border-left: 0
      border-right: 0
      border-bottom: 2px solid white
      padding-left: 10px
      font-family: Gotham-Medium
      font-size: 4em
      float: left
    input:-moz-placeholder
      color: rgb(147,149,152)
      font-family: Gotham-Medium
    input::-webkit-input-placeholder
      color: rgb(147,149,152)
      font-family: Gotham-Medium
    .search-input:focus
      outline: none
      background-color: rgba(199, 200, 202, 1)
      transition: all 1s ease 0s
      -webkit-transition: all .5s ease 0s

.search-active
  display: block

/* FOOTER ELEMENTS */
.btn-social
  border-radius: 100%
  background-color: #202020
  border: 0
  i
    color: #fff
  &:hover
    background-color: $xaxis-blue-color

.btn-social:not(:last-child)
  margin-right: 5%

.body-section
  padding-top: 180px
  padding-bottom: 180px
  &:nth-child(even)
    background-color: $white
  &:nth-child(odd)
    background-color: $alternate-white
.body-section-padding-small
  padding-top: 90px
  padding-bottom: 90px
  &:nth-child(even)
    background-color: $white
  &:nth-child(odd)
    background-color: $alternate-white
.body-section-small-margin-bottom
  padding-bottom: 100px !important


footer
  background-color: $white
  position: absolute
  bottom: 0
  width: 100%
  padding: 165px 0 80px 0
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  p
    display: -webkit-box
    display: -moz-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    justify-content: center
    width: 80%
  .footer-link-container
    display: -webkit-box
    display: -moz-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    justify-content: space-around
    width: 70%
    align-items: center
    border-top: 1px solid $grey
    padding-top: 20px
    margin-top: 60px
    margin-bottom: 60px
    a
      font-family: 'Gotham-Light'
      font-size: 14px
      &.footer-link:link, &.footer-link:visited
        color: $primary-color
      &.footer-link:hover
        text-decoration: none
        color: $xaxis-blue-color

.bottom-stripe img
  position: absolute
  bottom: 0
  width: 100%
  height: 5px
  left: 0
.fade-me-in
  display: none

@media (max-width: 900px)
  .search-container
    #searchForm
      input.search-input
        font-size: 2.5em
@media (max-width: 768px)
  .search-container
    #searchForm
      input.search-input
        font-size: 2em
  footer
    p
    .footer-link-container
      margin-bottom: 5px
      width: 80%
@media (max-width: 600px)
  footer
    p
    .footer-link-container
      margin-bottom: 5px
      width: 90%
      margin-top: 30px
@media (max-width: 500px)
  .search-container
    #searchForm
      input.search-input
        font-size: 1.2em
  footer
    p
      width: 100%
    .footer-link-container
      flex-direction: column
      margin-bottom: 5px
      width: 90%
      margin-top: 30px

.flash-notices
  position: fixed
  top: 65px
  width: 100%
