@import "vars"
html
  position: relative
  min-height: 100%

body
  margin-bottom: 350px

.container-fluid
  width: 100%
  padding: 0
  margin: 0
  overflow: hidden
.content-wrapper
  margin-top: 65px
  margin: 0
  padding: 0

/* FOOTER ELEMENTS */
.btn-social
  border-radius: 100%
  background-color: #202020
  border: 0
  i
    color: #fff
  &:hover
    background-color: $xaxis-blue-color

.btn-social:not(:last-child)
  margin-right: 5%

footer
  background-color: $dark-grey
  position: absolute
  bottom: 0
  width: 100%
  height: 300px
  display: flex
  align-items: center
  .base-footer
    margin: 0 auto
    width: 80%
    p
    .footer-link-container
      display: flex
      justify-content: space-around
      border-top: 1px solid $primary-color
      padding-top: 20px
      margin-top: 60px
      margin-bottom: 60px
      a
        &.footer-link:link, &.footer-link:visited
          color: $primary-color
        &.footer-link:hover
          text-decoration: none
          color: $xaxis-blue-color
.bottom-stripe img
  position: absolute
  bottom: 0
  width: 100%
  height: 5px
  left: 0


.uppercase
  text-transform: uppercase
