.uppercase
  text-transform: uppercase

// Removes padding from Photo/Text

.row.no-gutter
  margin-right: 0
  margin-left: 0

  & > [class*='col-']
    padding-right: 0
    padding-left: 0

.restrict-img
  height: auto
  width: 100%
  vertical-align: top

@media (max-width: 767px)
  .single-column
    text-align: center
