.uppercase
  text-transform: uppercase

// Removes padding from Photo/Text

.row.no-gutter
  margin-right: 0
  margin-left: 0

  & > [class*='col-']
    padding-right: 0
    padding-left: 0

.restrict-img
  max-width: 100%
  width: 100%
  height: auto
  display: block

@media (max-width: 767px)
  .single-row
    text-align: center
