.locations-area, .regions-area, .departments-area
  a
    color: $xaxis-blue-color
    &:hover
      text-decoration: none
  .location, .region, .department
    text-align: center
    color: $xaxis-blue-color
    padding: 0 !important
    margin-bottom: 80px
    h2
      font-family: 'Gotham-Bold'
      font-size: 30px
      color: $primary-color
      width: 100%
      margin: 0 auto
      padding-bottom: 25px
      &:hover
        color: $xaxis-blue-color
    hr
      width: 33%
      border-top: 1px solid #dfdfdf
      margin-top: 0 !important
      margin-bottom: 25px !important
    .job-openings-count
      font-family: 'Gotham-Book'
      font-size: 14px
      color: $xaxis-blue-color
      margin-bottom: 15px
.regions-container
  margin: 0 5%

.regions-area
  .region
    margin-bottom: 0
    h2
      padding-bottom: 0
