.locations, .regions, .departments
  padding: 180px 0
  margin: 0 auto
  -webkit-box-shadow: inset -1px -5px 6px 0px rgba(0,0,0,0.28);
  -moz-box-shadow: inset -1px -5px 6px 0px rgba(0,0,0,0.28);
  box-shadow: inset -1px -5px 6px 0px rgba(0,0,0,0.28);
  a
    color: $xaxis-blue-color
    &:hover
      text-decoration: none
  .location, .region, .department
    text-align: center
    color: $xaxis-blue-color
    h2
      font-size: 30px
      color: $primary-color
      width: 100%
      margin: 0 auto
      padding: 40px 0
      &:hover
        color: #fff
        border-radius: 0
        background-color: $xaxis-blue-color
      hr
        width: 80%
        border-top: 2px solid #eee
        margin-top: 0
