.container
  .col-md-offset-1.col-md-10
    .jobs-list
      %h3
        ="To be a part of the digital frontier, join the Xaxis team. With 53 offices globally, we're always looking for genius. No matter if your specific genius lies in tech, HR or creative, apply below - and watch your digital career unfold." unless action_name == 'show'
      -if @jobs.count > 0
        %dl.dl-horizontal
          -if @jobs.pluck(:department).length > 1
            -department_array = @jobs.pluck(:department).uniq!.sort
          -else
            -department_array = @jobs.pluck(:department)
          -department_array.each do |department|
            %h2= department unless params[:department] || action_name == 'show'
            -@jobs.where(department: department).each do |job|
              %dt.job-title
                =link_to careers_job_path(job.eId) do
                  =job.title
                  -if job.subsidiaryName != "Xaxis"
                    |
                    =job.subsidiaryName
              %dd.text-right
                ="#{job.locationCity}, #{job.locationCountry}"
      -else
        Nah
